<div class="weather">
    <div class="weather-header">
        <span class="med">{{ weather.name }}</span><br/>
    </div>

    <div class="weather-detail">
        <span class="med"> {{ weather.main.temp | number:'.0-2' }}°C</span> <span>({{ desc }})</span><br/>
        <span>< {{ weather.main.temp_min | number:'.0-2' }}°C</span> <span> {{ weather.main.temp_max | number:'.0-2' }}°C ></span>

        <span>
            <i class="wi wi-sunrise med"></i><span class="sma">{{ sunrise }}</span>
        </span>
        <span>
            <i class="wi wi-sunset med"></i><span class="sma">{{ sunset }}</span>
        </span>
    </div>

    <aside class="weather-icon">
        <i class="wi wi-owm-{{ icon }} big"></i>
    </aside>
</div>