
<br/>
<br/>
<br/>

<div class="widgetBox widgetBoxGrand widgetBoxGrandTwodays">
    <div class="widgetContent">
        <div class="day1">
            <div class="text">
                <div class="day">Aujourd'hui,<br />Jeudi 18 Août</div>
                <div class="temperatures">{{ weather.main.temp | number:'.0-0' }}°</div>
                <div class="description">{{ desc }}</div>
                <div class="moreDescription">Humidité : <strong>{{weather.main.humidity}}%</strong><br />
                    Vent : <strong>{{weather.wind.speed}} km/h Nord Ouest</strong><br />
                    Rafales : <strong>35 km/h</strong>
                </div>
            </div>
            <div class="pictoSize3"><div class="wi wi-owm-{{ icon }} big"></div></div>
        </div>
        <div class="day2">
            <div class="text">
                <div class="day">Vendredi</div>
                <div class="temperatures">22°</div>
                <div class="description">Pluie</div>
                <div class="moreDescription">Humidité : <strong>90%</strong><br />
                    Vent: <strong>16 km/h</strong><br />
                    <strong>Sud Sud Ouest</strong>
                </div>
            </div>
            <div class="pictoSize1"><div class="pict6"></div></div>
        </div>
    </div>
    <div class="overlay"></div>
</div>